body {
    margin : 0px ;
    background-image: linear-gradient(to bottom right, #afd3eb, #3297df );
    font-family: 'Arial';
    font-size: 18px;
}

.container {
    padding-top: 90px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container img {
    max-width: 300px;
    max-height:300px;
    width: auto;
    height: auto;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#quadrado{
    background-color: #61b3ed;
    display: block;   
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2.5px solid #3f78a0;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 7px 7px 5px rgba(32, 32, 32, 0.3);
    margin-top: 30px;
    margin-bottom: 300px;
}

.tudo{    
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.logo{
    width: auto;
    height: auto;
}

h2{
    padding-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    filter: saturate(150%);
    line-height: 0.1;
}

button, input[type="submit"]{
    font-style: none;
    font-size: bold;
    border-radius: 30px;
    width : 130px;
    height : auto;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    justify-content : center;
    align-items: center;
    background : #EEE5DE;
    color : black ;
    border: 2.5px solid #3f78a0;
    font-family: Arial;
    font-size: 18px;
    display: block;   
    margin-left: auto;
    margin-right: auto;
}

button:hover, input[type="submit"]:hover {
    color : black;
    background: #6dabd6;
}

table, td{
    border: 1px solid;
    border-collapse: collapse;
    padding:7px;
    background: #afd3eb ;
    border-color: #3f78a0 ;
}

th{
    background: #3f78a0
}