body {
    width: 100%;
    margin : 0px ;
    background-image: linear-gradient(to bottom right, #afd3eb, #3297df );
    font-family: Arial;
    font-size: 18px;
    
}

h2{
    padding-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    filter: saturate(150%);
    line-height: 0.1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.addpub{
    border-radius: 30px;
    border: 1px #3f78a0;
    margin: 20px;
}

#quadrado{
    background-color: #61b3ed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2.5px solid #3f78a0;
    margin-bottom: 300px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 7px 7px 5px rgba(32, 32, 32, 0.3);
}

table, td{
    border: 1px solid;
    border-collapse: collapse;
    padding:10px;
    background: #afd3eb ;
    border-color: #3f78a0 ;
}

th{
    background: #3f78a0
}

input[type="text"], textarea {
    justify-content : center;
    align-items: center;
    border-radius: 30px;
    background : #ffffff;
    border: 2.5px solid #3f78a0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

.cell{
    margin: 10px;
}

.heading{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

button, input[type="submit"]{
    font-style: none;
    font-size: bold;
    border-radius: 30px;
    width : 170px;
    height : auto;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    justify-content : center;
    align-items: center;
    background : #EEE5DE;
    color : black ;
    border: 2.5px solid #3f78a0;
    font-family: Arial;
    font-size: 18px;
}

button:hover, input[type="submit"]:hover {
    color : black;
    background: #6dabd6;
}

input[type="date"]{
    margin-right: 40;
    justify-content : center;
    align-items: center;
    border-radius: 30px;
    width : 120px;
    height : 20px;
    background : #ffffff;
    border: 2.5px solid #3f78a0;
    font-family: Arial;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

select{
    font-family: Arial;
    font-size: 18px;
}




