body {
    margin : 0px;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right,  #3297df,#afd3eb );
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.conteudo{
    width: 700px;
    height: 700px;
    background-color: #EEE5DE;
    
}