body {
    display: flex;
    height: 100vh;
    margin : 0px ;
    background-image: linear-gradient(to bottom right, #afd3eb, #3297df );
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: 'Arial';
    font-size: 18px;
}

h2{
    margin: 30px;
    font-family: 'Arial';
    filter: saturate(150%);
}

.border_container{
    display: flex;
    flex-direction: row;
    align-content: center;
    border-style: solid;
    border: 2.5px solid #3f78a0;
    background-color: #61b3ed;
    border-radius: 4%;
    margin: 10px;
    box-shadow: 7px 7px 5px rgba(32, 32, 32, 0.3);
}

.cell{
    margin: 10px;
}

input[type="text"], textarea {
    justify-content : center;
    align-items: center;
    border-radius: 30px;
    background : #ffffff;
    border: 2.5px solid #3f78a0;
    padding: 5px 10px 5px 10px;
    width: 300px;
    font-size: 18px;
}

input[type="submit"], input[type="reset"], button{
    border-radius: 30px;
    width : 100px;
    padding: 5px 10px 5px 10px;
    background : #ffffff;
    color : black ;
    cursor: pointer;
    transition: .5s;
    border: 2.5px solid #3f78a0;
    padding-bottom: -2px;
    font-size: 16px;
}

input[type="submit"]:hover, input[type="reset"]:hover, button:hover{
    color : black;
    background: #6dabd6;
}

input[type='file']{
    font-size: 18px;
}


input[type="date"], input[type="time"]{
    margin-right: 40;
    justify-content : center;
    align-items: center;
    border-radius: 30px;
    background : #ffffff;
    border: 2.5px solid #3f78a0;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
}

select {
    font-size: 18px;
    padding: 5px 10px 5px 10px;
}

#pch_titulo{
    font-weight: bold;
    font-size: 26px;
}

#pch_conteudo{
    font-size: 18px;
}
.preview{
    background-color: #3297df;
    text-align: center;
    width: 494;
    height: 691;
    margin: 50px;
    scale: 1.2;
}

.prev_header{
    height: 5%;
}

.prev_ctt{
    height: 70%;
}

.prev_ctt p{
    text-align: left;
}

.prev_footer{
    text-align: center;
    height: 10%;
}

.img{
    margin-top: 20px;
}