body {
    height: 100%;
    width: 100vw;
    margin : 0px ;
    background-image: linear-gradient(to bottom right, #afd3eb, #3297df );
    font-family: 'Arial';
    font-size: 18px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2{
    padding-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    filter: saturate(150%);
    line-height: 0.1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.quadrado{
    background-color: #61b3ed;
    display: block;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2.5px solid #3f78a0;
    margin-bottom: 300px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 7px 7px 5px rgba(32, 32, 32, 0.3);
    margin-top: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

button, input[type="submit"], input[type="reset"]{
    font-style: none;
    font-size: bold;
    border-radius: 30px;
    width : 170px;
    height : auto;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    justify-content : center;
    align-items: center;
    background : #EEE5DE;
    color : black ;
    border: 2.5px solid #3f78a0;
    font-family: Arial;
    font-size: 18px;
    box-shadow: 7px 7px 5px rgba(32, 32, 32, 0.3);
}

button:hover, input[type="submit"]:hover {
    color : black;
    background: #6dabd6;
}

button:hover, input[type="reset"]:hover {
    color : black;
    background: #6dabd6;
}

.conteudo{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

input[type="password"] {
    border-radius: 30px;
    height : 20px;
    background : #EEE5DE;
    border: 2.5px solid #3f78a0;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 7px 7px 5px rgba(32, 32, 32, 0.3);
}

input[type="text"] {
    margin-right: 40;
    justify-content : center;
    align-items: center;
    border-radius: 30px;
    height : 20px;
    background : #EEE5DE;
    border: 2.5px solid #3f78a0;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 7px 7px 5px rgba(32, 32, 32, 0.3);
}

.meinho{
    padding-left: 10px;
} 

input[type="text"], textarea {
    justify-content : center;
    align-items: center;
    border-radius: 10px;
    background : #ffffff;
    border: 2.5px solid #3f78a0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}