body {
    margin : 0px ;
    background-image: linear-gradient(to bottom right, #afd3eb, #3297df );
    font-family: Arial;
    font-size: 18px;    
    background-repeat: space;
}
h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    padding-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    filter: saturate(150%);
    line-height: 0.1;
}

.logo{
    width: auto;
    height: auto;
}
.container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
}

.container img {
    max-width: 300px;
    max-height:300px;
    width: auto;
    height: auto;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#quadrado{
    background-color: #61b3ed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2.5px solid #3f78a0;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 7px 7px 5px rgba(32, 32, 32, 0.3);
    width: 550px;
    height: auto;
}

button, input[type="submit"]{
    font-style: none;
    font-size: bold;
    border-radius: 30px;
    width : 150px;
    height : 56px;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    justify-content : center;
    align-items: center;
    background : #EEE5DE;
    color : black ;
    border: 2.5px solid #3f78a0;
    font-family: Arial;
    font-size: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 7px 7px 5px rgba(32, 32, 32, 0.3);
}

button:hover, input[type="submit"]:hover {
    color : black;
    background: #6dabd6;
}

#conteudo {
    margin-left: auto;
    margin-right: auto;    
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quadrado2{
    background-color: #3badff;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2.5px solid #3f78a0;
    padding-left: 10px;
    padding-right: 10px;
    width: 550px;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 7px 7px 5px rgba(32, 32, 32, 0.3);
}

#words{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}