body {
    margin : 0px ;
    background-image: linear-gradient(to bottom right, #afd3eb, #3297df );
    font-family: Arial;
    font-size: 18px;
}

h2{
    padding-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    filter: saturate(150%);

}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fotouser{
    margin: 0 auto;
    width: 30%;
}
.echo{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.fundo{
    height: 400px;
    background: #61b3ed;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2.5px solid #3f78a0;
    margin-bottom: 450px;
    box-shadow: 7px 7px 5px rgba(32, 32, 32, 0.3);
}

.escrita{
    font-size: 20px;
    font-size: bold;
    display: block;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    color : black ;
    padding-bottom: 400px;
}

.botoes {
    border-radius: 30px;
    border: 1px #3f78a0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    padding: 5px 5px;
}

a{
    text-decoration: none;
}

button{
    font-style: none;
    font-size: bold;
    border-radius: 30px;
    width : 170px;
    height : auto;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    justify-content : center;
    align-items: center;
    background : #EEE5DE;
    color : black ;
    border: 2.5px solid #3f78a0;
    font-family: Arial;
    font-size: 18px;
}

input[type="submit"]:hover {
    color : black;
    background: #6dabd6;
}       
