*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 10px 50px 10px 50px;  
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.perfil{
    text-align: center;
}

.foto_perfil{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}