*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 40px 100px 40px 100px;  
    background-color: #BAE2FF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

a{
    color: black;
}

.mundo{
    text-align: left;
}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.nome_inst{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin: 5px 0px;
}

.foto_perfil{
    border: 3px solid #004475;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin-bottom: 5px 0px;
}

button, select, input[type=text], input[type=submit], input[type=reset]{
    font-size: 17px;
    height: 30px;
    padding: 0px 5px;
}

input[type=checkbox]{
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);

    padding: 10px;
}
