
#conteudo_publicacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

table{
    color: white;
    border-collapse: collapse;
    margin: 10px 0px;
}

.inscricoes{
    margin: 30px 0px;
}

table a{
    color: white;
    scale: 0.5;
}

th{
    background-color: #004475;
    
    padding: 5px 5px;
}

td{
    border: 2px solid #3E769E;
    border-right: none;
    border-left: none;
    background-color: #52A5E0;
    padding: 7px 7px;
}

.scroll_div{
    overflow-y: scroll;
    width: 40vw;
    height: 50vh;
    background-color: white;
}

.comentario{
    margin: 20px 20px;
}

.comentario_filho{
    margin: 20px 40px;
}